body {
  margin: 0px;
  padding: 0px;
  
}
p{
  color: #747474;
}
.navbar-menu h1{
  color:#00ccb1 !important   ;
  
}
.logo-text h1{
  color:#00ccb1 !important

}
.header img{

}

ul {
  list-style: none;
}
.content2{
  display: flex;
  
  gap: 10px;
  margin: auto 20px;;
}
a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}
section {
  width: 100%;
  height: 95vh;
}
.navbar-menu {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
  
  
}
.text-container{}
.navbar-menu ul {
  display: flex;
  padding: 0px 5%;
}
.navbar-menu ul li a {
  margin: 30px;
  font-weight: 700;
  font-size: 15px;
}
.heading h1 {
  color:#00ccb1 ;
  font-weight: 300;
}
.logo {
  font-size: 22px;
  padding-bottom: 20px;
}
.logo-text {
  padding-bottom: 20px;
}
.text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div-img,
.heading,
.content {
  margin: 20px;
}
.text-about-1,
.text-about-2 {
  width: 40%;
  height: 70%;
  margin-top: 70px;
  justify-content: center;
  color: #747474;
}
.text-about-1 {
  margin-left: 100px;
}
.text-about-2 {
  margin-right: 100px;
}
/*.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/

.carte {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  gap: 50px;
}
.box1 {
  width: 33%;
  height: 345px;
  color: white;
  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
  flex-direction: column;
  background-color: #00ccb1;
  border-radius: 10px;
  padding: 20px 30px;
}
.box2 {
  width: 33%;
  height: 345px;

  border-radius: 10px;
  color: #ffffff;
  background-color: #3d83df;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*align-items: flex-start;*/
  padding: 20px 30px;
}
.box3 {
  width: 33%;
  height: 345px;
  background-color: #1b2734;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*align-items: flex-start;*/
  padding: 20px 30px;
 
}


#domain-switcher-1 {
  color: white;
  background-color: #00ccb1;
  border: none;
  text-decoration: underline;
  width: 100%;
  cursor: pointer;
  font-size: 25px;
}
#domain-switcher-2 {
  color: white;
  background-color:#3d83df;
  border: none;
  text-decoration: underline;
  width: 100%;
  font-size: 25px;
  cursor: pointer;
}
#domain-switcher-3 {
  color: white;
  background-color:#1b2734;
  border: none;
  text-decoration: underline;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}


.header-information h1{
  font-size: 1.625em;
    font-weight: 400;
    
}
.header-information h2{
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
}
.style-select{
  height: 40px;
}


.box-centent:hover
{
  opacity: 0.7;
}

.footer-carte h1{
  width: 33%;
  font-size: 1.625em;
  color:#00ccb1;
  font-weight: 300;
    
}
.logo-items{
  display: flex;
  flex-wrap: wrap;
  width:67%;
  height: 200px;
  padding: 0px 5%;
}
.footer-carte{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  
}
.logo-items  li a {
  
  margin-left: 20px;
  margin-right: 5px;
  background-color: transparent;
  
}
.container-fluid{
display: flex;
justify-content: space-around;
}

.container-fluid{
  background-color: #e5faf8;
}
.header h1{
  font-size: 2.125rem;
    color: #00b39b;
}
.container-fluid{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 800px;
  
}
.header{
 width:30%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-align: center;
}
.header h1{
  font-size: 2.125rem;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -.3px;
}
.header p{
  font-size: .875em;
font-weight: 400;
line-height: 1.7142857143;
}
.world-information{
  width:60%;
  display: flex;
  flex-wrap: wrap;
  
}
h4{
  font-weight: 300;
}

.informations-1{
  background-color: #ffff;
    border-radius: 5px;
    height: 300px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    width:35%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 10px;
    padding: 20px 30px;
    
    
    
}
.informations-2{
  background-color: #ffff;
    border-radius: 5px;
    height: 300px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    width:35%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 60px;
    padding: 20px 30px;
    margin-top:80px ;
}
.informations-3{
  background-color: #ffff;
  border-radius: 5px;
  height: 300px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
  width:35%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top:20px;
  margin-left: 150px;
  margin-right: 10px;
  padding: 20px 30px;
  
}
.informations-4{
  background-color: #ffff;
  border-radius: 5px;
  height: 300px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
  width:35%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom:200px;
  margin-left:10px;
  margin-top:10px;
  padding: 20px 30px;

 
}
.informations-2 img,.informations-3 img,.informations-1 img,.informations-4 img{
  width:50px;
  
}
.informations-2 h4,.informations-3 h4,.informations-1 h4,.informations-4 h4 {
  font-size: 1.8461538462em;
  color: #00b39b;
  font-weight: 300;
  letter-spacing: -.3px;
}

.office-header{
  margin-top: 30px;
  margin: auto;
  max-width: 460px;
  text-align: center;
}
.office-header h1{
  font-size: 2.1428571429em;
  color:    #00b39b;
  font-weight: 300;
  margin-top: 50px;
}
.office-header p{
  margin-top: 40px;
  margin-bottom: 70px;
}

.office-place{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;

  
  
}

.office-carte{
  
  border-radius: 10px;
  margin-bottom: 50px;
  
}
.office-image img{
  border-radius: 10px 10px 0px 0px;
  border: 1px solid gray;
  border-width:1px;
  border-bottom: none;
}
.office-dest{
  display: flex;
  justify-content:space-around;
  
  align-items: center;
}
.btn{
  background-color:  #3d83df;
  color: white;
}
.office-carte:hover{
  cursor: pointer;
  box-shadow: 12px 24px 24px rgba(0, 0, 0, 0.2);
}
.office-dest .btn{
  padding: 0.1666666667em 1.5em;
 height: 30px;
 margin-bottom: 1px;
 outline: none;
 border: none;
 text-align: center;
 vertical-align: middle;
 

}
.join-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.join-us h1{
  font-size: 2em;
  font-weight: 300;
}
footer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
}
footer p{
  letter-spacing: 0.01rem;
  width: 80%;
  margin: auto;
}
.second-element span{
  padding-left: 35%;
  
}
@media screen and (max-width: 386px) {
  .navbar-menu ul li a {
    float: none;
    width: 500px !important;

     margin: 10px;
}
.navbar-menu{
  display: flex;
  flex-direction: column;
  /*width: ;*/
}

img{
  max-width: 100%;
    height: auto;
}
.heading h1{
  font-size: 200;

}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.text-about-1,.text-about-2{
width:auto;
height: 5vh;
text-align: center;
margin: 12px auto;


}
.content2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-about-1{
 
  
}
.text-about-2{
  
}

.carte{
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-bottom: 10px;
}
.box-centent{
  width: 80vw;
}
.footer-carte{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer-carte h1{
  text-align: center;
  margin: auto;
  width:300px ;
  
}
.footer-carte ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:30px;
  width:200px;
  margin-bottom: 100px;

} 
.logo-items  li a {
  display: inline;
  font-weight: 1500;
  font-size: 10px;
  
}
.container-fluid{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  height: 1500px;
  width: 100vw;
  margin: auto;
   
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width:300px ;
  margin-top: 1px;
}

.header  img{
  display: none;
}
.world-information {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  position: absolute;
  justify-content: center;
  margin-left: 30px;

}
.word{
  width: 300px;
  margin: auto;
  width:80vw;
  
}
body{
  margin:auto;
}
.informations-2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.informations-3{
  margin-bottom: 10px;
}
.heading h1{
  text-align: center;
}
.join-us h1{
  text-align: center;
}

}
@media (min-width: 386px) and (max-width:576px){
  .navbar-menu{
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .navbar-menu ul li a{
    margin:10px;
  }
  img{
    max-width: 100%;
      height: auto;
  }
  .heading h1{
    text-align: center;
    font-size: 1.875em;
    margin: .7em 0;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom:0;
  }
  .text-about-1{
    margin: .8em 0;
    line-height: 1.75;
    font-weight: 400;
  }

}

